            <hr/>
            </div>
            </div>
            </div>
            </div>
        </div>
        <nav>
                <ul class="nav nav-pills float-right">
                  <li class="nav-item">
                    <a class="nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/auth/register">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/auth/profile">Profile</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/auth/login">Login</a>
                    </li>
                </ul>
              </nav>
              <footer class="footer">
                  <p>&copy; Freedom-QLC 2017</p>
                </footer>
    </div>

</body>
</html>

