<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/javascripts/jquery.miranda.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <div>
            <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="http://localhost:5000/users/mortgage-application">Mortgage Application<span class="sr-only">(current)</span></a></li>
                    <li><a href="http://localhost:3000/mortgage-accounts">Mortgage Accounts</a></li>
                    <li><a href="http://localhost:3000/outstanding-documents">Outstanding Documents</a></li>
                    <li><a href="http://localhost:3000/mortgage-rates">Mortgage Rates</a></li>
                </ul>
            </nav>
        </div>
        <br />
        <div class="container">
            <p>Please Select the Type of Mortgage you are interested in applying for?</p><br/>
            <div>
                <ul>
                    <li>
                        <p><a href="http://localhost:5000//mortgages/generic-mortgage-application" class="btn btn-primary">Generic Mortgage Application</a></p>
                    </li>
                    <li>
                        <p><a href="http://localhost:5000/mortgages/jm-application" class="btn btn-info">Joint Mortgage Application</a></p>
                    </li>
                    <li>
                        <p><a href="http://localhost:5000/mortgages/commercial-mortgage-application" class="btn btn-warning">Commercial Mortgage Application</a></p>
                    </li>
                    <li>
                       <p><a href="http://localhost:5000/mortgages/standard-mortgage-application" class="btn btn-success">Standard Mortgage Application</a></p> 
                    </li>
                </ul>
            </div>
            <div>
                

            </div>
        </div>  
        <div>
            
        </div>    
    </div>
</body>
</html>